/* Footer Container */
.footer {
  background-color: #F8F9FA;
  padding: 20px 20px 20px 10px; /* Reduce left padding */
  text-align: center;
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto; /* Adjust height as needed */
}

.footer-container {
  display: flex;
  justify-content: space-between; /* Space between items */
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

/* Left Section (Logo & Title) */
.footer-left {
  display: flex;
  flex-direction: row; /* Align items horizontally */
  align-items: center; /* Center items vertically */
  margin-bottom: 20px;
}

.footer-logo {
  width: 200px; /* Increase the logo size */
  height: auto;
  margin-right: 10px; /* Add margin to the right of the logo */
}

.footer-left h1 {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin: 0; /* Remove default margin */
  line-height: 1; /* Adjust line height for better spacing */
}

/* Footer Links */
.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create a 3x3 grid */
  column-gap: 100px; /* Add space between columns */
  row-gap: 50px;
}

.footer-links a {
  color: #666;
  font-size: 14px;
  text-decoration: none;
}

.footer-links a:hover {
  color: #000;
  cursor: pointer;
}

/* Footer Bottom */
.footer-bottom {
  font-size: 12px;
  color: #777;
  width: 100%;
  text-align: center; /* Center the text */
  margin-top: 20px; /* Add margin to the top */
}
